@charset "utf-8";
@font-face {
	font-family: "Fira Mono";
	src: url("FiraMono-Regular.otf") format("opentype");
}
@font-face{
	font-family: "digital";
	src: url("digital.TTF") format("truetype");
}
*{
	margin: 0px;
	padding: 0px;
}
body, html{
	font-family: 'Fira Mono', 'Droid Sans', 'Helvetica', Arial, sans-serif;
	background-color: #000000;
	width: 100%;
	height: 100%;
	color: white;
}
#caja{
	font-family: 'Fira Mono';
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: column;
	border-radius: 30px;
	box-shadow: 0px 0px 5px 5px #808080;
	moz-box-shadow: 0px 0px 5px 5px #808080;
	-webkit-box-shadow: 0px 0px 5px 5px #808080;
	padding: 0.5em;
	margin: 5% 5% 1em 5%;
}
h1, h2{
	text-align: center;
	margin-bottom: 1em;
	width: 90%;
	margin-left: 5%;
}
h2{
	font-family: "digital", sans-serif;
	color: lime;
}
form {
	text-align: center;
}
#myCanvas{
	width: 80%;
	margin-left: 10%;
}